<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Clients</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <ul>
        {% for client in clients %}
            <li><a href="{% url 'update_client' client.id %}">{{ client.first_name }}</a></li>
            <a href="{% url 'delete_client' client.id %}">Delete</a>
        {% endfor %}
    </ul>

    <a href="{% url 'new_client' %}">Add new client</a>
</body>
</html>