<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{name}}, {{age}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <script src="main.js"></script>
</head>
<body>
    {% if age > 0%}
    <span>His name is <b>{{ name }}</b> and his age is <b>{{ age }}</b></span>
    {% else %}
    Person not found
    {% endif %}
</body>
</html>